<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControladorServletProd</servlet-name>
  	<display-name>ControladorServletProd</display-name>
  	<description></description>
  	<servlet-class>controlador.ControladorServletProd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControladorServletUser</servlet-name>
  	<display-name>ControladorServletUser</display-name>
  	<description></description>
  	<servlet-class>controlador.ControladorServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorServletProd</servlet-name>
  	<url-pattern>/ControladorServletProd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControladorServletUser</servlet-name>
  	<url-pattern>/ControladorServletUser</url-pattern>
  </servlet-mapping>
</web-app>
